.contact
    position: fixed
    //right: 50px
    right: 2.5%
    bottom: -450px
    width: 450px
    z-index: 10000000
    label.icon
        z-index: 10000000
        position: absolute
        right: 0px
        bottom: 465px
        transition: .5s ease
        img
            position: absolute
            cursor: pointer
            &.email-icon
                right: 0px
                bottom: 0px
                width: 80px
                height: auto
                opacity: 1
                transition: .5s ease
                &.hide
                    bottom: 400px
                    opacity: 0
                    transition: .5s ease

.inbox
    z-index: 100
    position: relative

.box
    position: relative
    /*text-align: right*/
    right: 0px
    bottom: 450px
    font-family: Arial, Helvetica, sans-serif
    opacity: 1
    box-shadow: 3px 3px 15px rgba(0,0,0,.3)
    transition: .5s ease
    p
        padding: 20px
        font-size: 15px
        color: #fff
        line-height: 23px
        font-weight: lighter
        background-color: #03AFF5
        span
            margin-bottom: 10px
            font-size: 18px
            font-weight: bold
    img.close-icon
        position: absolute
        top: 15px
        right: 15px
        width: 20px
        height: auto
        cursor: pointer
    form
        //width: 300px
        background-color: #fff
        .form-data
            padding: 30px
            .input-area
                position: relative
                .text-error
                    position: absolute
                    bottom: 0px
                input
                    display: block
                    padding: 10px
                    width: calc( 100% - 20px )
                    margin: 5px 0px
                    border: none
                    border-bottom: 2px solid #c4c4c4
                    transition: .5s ease
                    &:hover
                        border-bottom: 2px solid #03AFF5
                        transition: .5s ease
                    &:focus
                        outline: none
                        border-bottom: 2px solid #03AFF5
                        transition: .5s ease
                    &:focus + label
                        top: -55px
                        color: #03AFF5
                        font-size: 12px
                    &:not(:placeholder-shown) + label
                        top: -55px
                        font-size: 12px
                        transition: .25s ease
                label
                    position: relative
                    top: -30px
                    color: gray
                    font-size: 14px
                    transition: .25s ease
                p
                    // position: relative
                    top: -20px
                    padding: 0px
                    background-color: transparent
                    color: red
                    font-size: 12px
            .text-area
                position: relative
                .text-error
                    position: absolute
                    bottom: -5px
                textarea
                    display: block
                    margin-top: 6px
                    padding: 10px
                    width: 100%
                    box-sizing: border-box
                    resize: none
                    // margin: 10px 0px
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
                    font-size: 15px
                    border: none
                    border-bottom: 2px solid #c4c4c4
                    transition: .5s ease
                    &:hover
                        border-bottom: 2px solid #03AFF5
                        transition: .5s ease
                    &:focus
                        outline: none
                        border-bottom: 2px solid #03AFF5
                        transition: .5s ease
                    &:focus + label
                        top: -103px
                        color: #03AFF5
                        font-size: 12px
                    &:not(:placeholder-shown) + label
                        top: -103px
                        font-size: 12px
                        transition: .25s ease
                label
                    position: relative
                    top: -25px
                    color: gray
                    font-size: 14px
                    transition: .25s ease
                p
                    // position: relative
                    top: -20px
                    padding: 0px
                    background-color: transparent
                    color: red
                    font-size: 12px
    button
        padding: 15px
        width: 100%
        font-size: 13px
        color: #fff
        font-weight: lighter
        border: none
        background-color: #03AFF5
        cursor: pointer
        &:focus
            outline: none
    &.hide
        right: 0px
        bottom: 0px
        opacity: 0
        box-shadow: 3px 3px 15px rgba(0,0,0,.3)
        transition: .5s ease

.confirmation
    z-index: 100
    position: fixed
    right: 2.5%
    bottom: -400px
    // min-width: 400px
    text-align: center
    background-color: #fff
    box-shadow: 3px 3px 15px rgba(0,0,0,.3)
    opacity: 0
    transition: .5s ease
    &.active
        z-index: 100
        bottom: 0px
        opacity: 1
        transition: .5s ease
    h2
        margin-bottom: 50px
        font-weight: bold
    button
        margin-top: 50px
        padding: 15px
        width: 100%
        font-size: 13px
        color: #fff
        font-weight: lighter
        border: none
        background-color: #03AFF5
        cursor: pointer
    .confirmation-content
        padding: 50px

@media (max-width: 650px)
    .contact, .confirmation
        width: 95%
    