.wrapper
    max-width: 1335px
    box-sizing: border-box
    padding: 0 20px
    margin: auto

.wrapper a
    display: inline-block
    margin: 5px

.wrapper a:first-child
    margin-left: 0

.sliderbox
    position: relative
    img
        z-index: 1
        position: absolute
        bottom: 0px
        left: 0px

.slider-wrapper
    margin: 0px auto
    position: relative
    width: 90%
    height: 70vh
    overflow: hidden

.slide
    height: 70vh

.slide.single
    img
        display: none
    .inner
        display: grid
        grid-template-rows: repeat(2,auto)
        grid-gap: 30px
        .title
            display: grid
            grid-template-rows: repeat(2,auto)
            grid-gap: 60px
            margin: 0px
            img.softars-icon
                display: block
                margin: 0px auto
                width: 100%
            h1
                float: none
                display: block
                // margin-top: 60px
        p
            margin: 0px auto
            max-width: 600px
        .animation
            display: none

.slide.double
    display: grid
    grid-template-areas: 'image animation inner'
    grid-template-columns: 1fr 1fr 1fr
    .inner
        padding: 0px
        text-align: left
        align-self: baseline
        .title
            display: inline-block
        img.softars-icon
            display: none
        p
            // margin: 0px auto
            // max-width: 400px

.inner
    grid-area: inner

.animation
    grid-area: animation
    img
        //float: right
        position: relative
        top: 100px
        //margin-right: 50px
        width: 42vh
        height: auto
        
.slide.double:nth-child(even)
    .animation
        img
            width: auto
            height: 45vh
    .image
        img
            margin-left: 50px

.image
    grid-area: image
    img
        width: auto
        height: 50vh

.previousButton, .nextButton
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 1000
    background: url('../images/arrow.svg') no-repeat center center / 25px
    padding: 20px
    width: 32px
    height: 32px
    text-indent: -9999px
    cursor: pointer
    transition: .1s ease

.previousButton:active, .nextButton:active
    padding: 20px
    background: url('../images/arrow.svg') no-repeat center center / 20px
    transition: .1s ease

.previousButton
    left: 0
    -webkit-transform: rotate(180deg) translateY(calc(50% + 0px))
    transform: rotate(180deg) translateY(calc(50% + 0px))

.nextButton
    right: 0

.slider-content
    text-align: center

.slider-content .inner
    z-index: 100
    padding: 0 70px
    box-sizing: border-box
    position: relative
    width: 100%
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

@media (max-width: 1600px)
    .sliderbox
        .image img
            bottom: 0px
            //left: -100px

@media (max-width: 1300px)
    .slider-wrapper
        width: 100%
    .slide.single
        p
            width: 100%
    .slide.double
        grid-template-columns: 1fr 2fr 2fr
        .image
            img
                margin-left: -50px

    .slide.double:nth-child(even)
        .image
            img
                margin-left: 0px

@media (max-width: 950px)
    .slide.double
        grid-template-areas: 'animation'
        grid-template-columns: 1fr
        .image
            display: none
        .animation
            img
                top: -50%
        .inner
            // top: 350px
            padding: 4vh
            text-align: center
            p
                margin: 0px auto
                max-width: 80%
        
    .slide.double:nth-child(even)
        .animation
            img
                // top: -100px
                height: 35vh

@media (max-height: 500px)
    .slider-wrapper, .slide
        height: calc(100vh - 75px)
      
@media (max-width: 640px)
    .slider-wrapper, .slide
        height: calc(85vh - 75px)

@media (max-height: 600px)
    .slider-content .inner h1
        font-size: 32px

@media (max-width: 640px)
    .slider-content .inner h1
        font-size: 32px