@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body, h1, h2, h3, h4, h5, h6, p, ul, li, p {
  margin: 0px;
  padding: 0px;
}

.slide h1 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}

.slide p {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.slide img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
}

.slide.single img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
}

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous button,
.slide.current button,
.slide.animateIn.next button,
.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
  opacity: 1;
}

.slide.current img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  opacity: 1;
}

.slide.animateOut h1 {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.slide.animateOut p {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

header {
  z-index: 1000000;
  position: fixed;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header.sticky {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.home {
  color: #0d0d0d;
}

.section {
  margin: 0px auto;
  padding: 8vw 0px;
  width: 80%;
  /*height: 70vh*/
  overflow: hidden;
}

.text-center {
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title {
  margin-bottom: 30px;
}

.title h1 {
  float: left;
}

.title img {
  position: relative;
  top: -8px;
  margin-left: 30px;
}

h1 {
  color: #0078a9;
  font-size: 5vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

h2, p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

p {
  font-size: 21px;
  line-height: 31px;
}

.main {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  background-image: url(../images/bg-home-softars.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.main:before {
  position: absolute;
  content: '';
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 200px;
  /*background-color: rgba(0,0,0,.3)*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
}

.main .text-center {
  position: absolute;
  top: 15vh;
}

.main h1 {
  margin-bottom: 1vh;
  font-size: 6vh;
}

.main h2 {
  font-size: 3vh;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.main .screen {
  position: relative;
  margin: 0px auto;
  top: 12%;
  width: 40%;
  min-width: 400px;
}

.main .screen img {
  width: 100%;
}

.softars-icon {
  width: auto;
  height: 50px;
}

.brand-icon {
  margin: 0px auto;
  max-width: 30%;
  height: auto;
}

.social-icon {
  margin: 0px 20px;
  width: 30px;
  height: auto;
}

.technology {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*height: 60vh*/
}

.technology .left, .technology .right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.technology .left {
  float: left;
}

.technology .left .description {
  /*margin: 0px auto*/
  width: 400px;
  text-align: left;
}

.technology .right {
  float: right;
}

.technology .right .text-center {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.technology .right .text-center .animated {
  width: 100%;
  margin: 40px auto;
  padding: 0px;
  /*padding: 10.3% */
  background-color: #fff;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

@media (max-width: 863px) {
  .technology {
    height: 100%;
  }
  .technology .left, .technology .right {
    margin: 5vh 0px;
    width: 100%;
    height: auto;
  }
  .technology .left .description {
    /*margin: 0px auto*/
    width: 100%;
    text-align: center;
  }
  .technology .left .description .title h1 {
    float: none;
  }
  .technology .right .text-center {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .technology .title img {
    margin: 0px;
  }
}

.videogame {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*height: 60vh*/
}

.videogame .inerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.videogame .title, .videogame p {
  text-align: left;
}

.videogame .engines {
  margin: 0px -4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  text-align: center;
}

.videogame .engines li {
  list-style: none;
}

.videogame .engines li img {
  /*margin: -20px 65px*/
  max-width: 60%;
  height: auto;
}

@media (max-width: 863px) {
  .videogame .inerbox p {
    text-align: center;
  }
  .videogame .title {
    text-align: center;
  }
  .videogame .title h1 {
    float: none;
  }
  .videogame .title img {
    margin: 0px;
  }
}

@media (max-width: 1024px) {
  .main .screen {
    top: 8%;
  }
  .videogame {
    height: 100%;
  }
  .videogame ul.engines {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .videogame ul.engines li.unreal, .videogame ul.engines li.godot {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .videogame ul.engines li.unreal img, .videogame ul.engines li.godot img {
    max-width: 70%;
  }
}

.experience {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*height: 60vh*/
  background-image: url(../images/team.png);
  background-size: 52%;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.experience .left, .experience .right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience .left {
  float: left;
}

.experience .right {
  float: right;
}

.experience .right .description {
  /*margin: 0px auto*/
  margin-bottom: 150px;
  width: 65%;
  text-align: left;
}

.experience .right .description h1 {
  float: none;
}

@media (max-width: 1600px) {
  .experience .left {
    width: 60%;
  }
  .experience .right {
    width: 40%;
  }
  .experience .right .description {
    /*margin: 0px auto*/
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 1350px) {
  .section {
    width: 90%;
  }
}

.follow {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*height: 50vh*/
  background-color: #0078a9;
}

.follow .section {
  padding: 150px 0px;
}

.follow h1 {
  display: contents;
  color: #fff;
}

@media (max-width: 600px) {
  .technology .right .text-center {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .videogame {
    height: 100%;
  }
  .videogame .title, .videogame p {
    text-align: center;
  }
  .videogame .title h1, .videogame p h1 {
    float: none;
  }
  .videogame ul.engines {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .videogame ul.engines li.unreal, .videogame ul.engines li.godot {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .videogame ul.engines li img {
    padding: -40px 0px;
    max-width: 80%;
  }
}

@media (max-width: 850px) {
  .experience {
    background-image: none;
  }
  .experience .left {
    display: none;
  }
  .experience .right {
    width: 100%;
  }
  .experience .right .description {
    /*margin: 0px auto*/
    width: 100%;
    text-align: center;
  }
}

.wrapper {
  max-width: 1335px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.sliderbox {
  position: relative;
}

.sliderbox img {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.slider-wrapper {
  margin: 0px auto;
  position: relative;
  width: 90%;
  height: 70vh;
  overflow: hidden;
}

.slide {
  height: 70vh;
}

.slide.single img {
  display: none;
}

.slide.single .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-gap: 30px;
}

.slide.single .inner .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-gap: 60px;
  margin: 0px;
}

.slide.single .inner .title img.softars-icon {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.slide.single .inner .title h1 {
  float: none;
  display: block;
}

.slide.single .inner p {
  margin: 0px auto;
  max-width: 600px;
}

.slide.single .inner .animation {
  display: none;
}

.slide.double {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'image animation inner';
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.slide.double .inner {
  padding: 0px;
  width: 80%;
  left: 40%;
  text-align: left;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.slide.double .inner .title {
  display: inline-block;
}

.slide.double .inner img.softars-icon {
  display: none;
}

.inner {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: inner;
}

.animation {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: animation;
}

.animation img {
  position: relative;
  top: 100px;
  width: 42vh;
  height: auto;
}

.slide.double:nth-child(even) .animation img {
  width: auto;
  height: 45vh;
}

.image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.image img {
  width: auto;
  height: 60vh;
  -webkit-transform: translateX(35%) !important;
          transform: translateX(35%) !important;
}

.previousButton, .nextButton {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  background: url("../images/arrow.svg") no-repeat center center/25px;
  padding: 20px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.previousButton:active, .nextButton:active {
  padding: 20px;
  background: url("../images/arrow.svg") no-repeat center center/20px;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.nextButton {
  right: 0;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  z-index: 100;
  padding: 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 1300px) {
  .slider-wrapper {
    width: 100%;
  }
  .slide.single p {
    width: 100%;
  }
  .slide.double {
    -ms-grid-columns: 1fr 2fr 2fr;
        grid-template-columns: 1fr 2fr 2fr;
  }
  .slide.double .image img {
    margin-left: -50px;
  }
  .slide.double:nth-child(even) .image img {
    margin-left: 0px;
  }
}

@media (max-width: 950px) {
  .slide.double {
        grid-template-areas: none;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .slide.double .image {
    display: none;
  }
  .slide.double .animation img {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  .slide.double .inner {
    width: 100%;
    left: 50%;
    padding: 4vh;
    text-align: center;
  }
  .slide.double .inner p {
    margin: 0px auto;
    max-width: 80%;
  }
  .slide.double:nth-child(even) .animation img {
    height: 30vh;
  }
}

@media (max-height: 500px) {
  .slider-wrapper, .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .slider-wrapper, .slide {
    height: calc(85vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

.contact {
  position: fixed;
  right: 2.5%;
  bottom: -450px;
  width: 450px;
  z-index: 10000000;
}

.contact label.icon {
  z-index: 10000000;
  position: absolute;
  right: 0px;
  bottom: 465px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.contact label.icon img {
  position: absolute;
  cursor: pointer;
}

.contact label.icon img.email-icon {
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: auto;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.contact label.icon img.email-icon.hide {
  bottom: 400px;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.inbox {
  z-index: 100;
  position: relative;
}

textarea {
  display: block;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

textarea:hover {
  border-bottom: 2px solid #03AFF5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

textarea:focus {
  outline: none;
  border-bottom: 2px solid #03AFF5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.box {
  position: relative;
  /*text-align: right*/
  right: 0px;
  bottom: 450px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.box p {
  padding: 20px;
  font-size: 15px;
  color: #fff;
  line-height: 23px;
  font-weight: lighter;
  background-color: #03AFF5;
}

.box p span {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.box img.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: auto;
  cursor: pointer;
}

.box form {
  background-color: #fff;
}

.box form .form-data {
  padding: 30px;
}

.box form .form-data input {
  display: block;
  padding: 10px;
  width: calc( 100% - 20px);
  margin: 5px 0px;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.box form .form-data input:hover {
  border-bottom: 2px solid #03AFF5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.box form .form-data input:focus {
  outline: none;
  border-bottom: 2px solid #03AFF5;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.box form .form-data input:focus + label {
  top: -60px;
  color: #03AFF5;
  font-size: 12px;
}

.box form .form-data input:not(:placeholder-shown) + label {
  top: -60px;
  font-size: 12px;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.box form .form-data label {
  position: relative;
  top: -40px;
  color: gray;
  font-size: 14px;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.box form .form-data p {
  position: relative;
  top: -20px;
  padding: 0px;
  background-color: transparent;
  color: red;
  font-size: 12px;
}

.box button {
  padding: 15px;
  width: 100%;
  font-size: 13px;
  color: #fff;
  font-weight: lighter;
  border: none;
  background-color: #03AFF5;
  cursor: pointer;
}

.box button:focus {
  outline: none;
}

.box.hide {
  right: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.confirmation {
  z-index: 10;
  position: absolute;
  /*text-align: right*/
  right: 50px;
  bottom: 0px;
  padding: 50px;
  width: 300px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.confirmation h2 {
  margin-bottom: 50px;
  font-weight: bold;
}

.confirmation button {
  margin-top: 50px;
  padding: 15px;
  width: 100%;
  font-size: 13px;
  color: #fff;
  font-weight: lighter;
  border: none;
  background-color: #03AFF5;
  cursor: pointer;
}

@media (max-width: 850px) {
  .contact {
    width: 95%;
  }
}

.footer {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: #0078a9;
}

.footer p {
  font-size: 12px;
}
/*# sourceMappingURL=styles.css.map */